<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">AFPA 2023 - Node</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/actors">Acteurs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/actor/1">1 Acteur</a>
      </li>
     
    </ul>
  </nav>
  