<h1>Formulaire de connexion</h1>
<% if ( locals.message ) { %>
    <p><%= message %></p>
   <% } %>
<form method="post" action="/signin">
    <label for="email">Adresse mail:</label>
    <input type="email" name="email">
<br>
    <label for="password">Mot de passe:</label>
    <input type="password" name="password">
<br>
    <input type="submit" value="Se connecter">
</form>